logging:
  level:
    com:
      mycompany:
        myapp: INFO
        ais: INFO
spring:
  application:
    name: JhipsterAiskafkaApplication
  jackson:
    serialization:
      '[FAIL_ON_EMPTY_BEANS]': false
kafka:
  bootstrap-servers: localhost:9092
  polling:
    timeout: 10000
  producer:
    topic: ais-data
    "[key.serializer]": org.apache.kafka.common.serialization.StringSerializer
    "[value.serializer]": org.springframework.kafka.support.serializer.JsonSerializer

application:
  simulateRealtimeInserts: true
  input:
    filename: ais.csv
